<% layout('layouts/bolierplate')-%>
<div class="container">

    <%- include('../partials/flash') -%>


</div>
    <div class="row">
        <div class="com-md-6">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="name">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="password">
                </div>
                <button class="btn btn-success btn-sm" type="submit">Sign Up</button>
                <p>Don't have an account yet?  <a href="/register">Register</a></p>
             </form>
        </div>
    </div>